{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}
<!-- component -->
<!-- This example requires Tailwind CSS v2.0+ -->

<!-- grhgothuigertuiggiortgeruigreiugbrigbeigherigberiherigeruigberiugberigbgiurbgieurbgerbgeiu -->
<div class="antialiased mx-auto max-w-screen-sm">
    <h3 class="mb-4 text-lg font-semibold text-gray-900">For You</h3>

    <div class="space-y-4">

        {% for post in posts %}
        <div class="flex">
            <a href="/user/{{post.authorId}}">
                <div class="flex-shrink-0 mr-3">
                    <img class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10"
                    src="../static/{{post.author_pfp}}" > </img>
                </div>
            </a>
            <a href="/post/{{post.id}}" class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
                <strong>{{post.author}}</strong> <span class="text-xs text-gray-400">{{post.date}}</span>
                <p class="text-sm">
                    {{post.title}}
                </p>
                <div class="mt-4 flex items-center">
                    <!-- <div class="flex -space-x-2 mr-2">
                        <img class="rounded-full w-6 h-6 border border-white"
                            src="https://images.unsplash.com/photo-1554151228-14d9def656e4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=100&h=100&q=80"
                            alt="">
                        <img class="rounded-full w-6 h-6 border border-white"
                            src="https://images.unsplash.com/photo-1513956589380-bad6acb9b9d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=100&h=100&q=80"
                            alt="">
                    </div> -->
                    <div class="text-sm text-gray-500 font-semibold">
                        {{post.totalComments}} comments
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}