{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

<div class="dark:bg-black-900">
  <div class="mx-auto container w-full flex items-center md:flex-row flex-col justify-between px-6 lg:px-0">
    <div class="flex flex-col justify-start items-start lg:w-2/5 px-2 lg:px-0">
      <div>
        <p>{{viewed_user.pfp}}</p>
      </div>
      <div>
        <p class="lg:text-5xl text-5xl text-black-600 dark:text-black-300 font-extrabold leading-none pb-10">Hello, this
          is {{viewed_user.username}}'s page!</p>
      </div>
      <div class="md:mt-3">
        <p class="text-black-800 dark:text-black lg:text-4xl text-3xl font-medium leading-9 pb-10">About Me: <br><span
            class="text-xl">{{viewed_user.bio}}</span> </p>
      </div>
    </div>
    <div class="flex justify-center items-center lg:w-2/5 mt-10 md:mt-0">
    </div>
  </div>
</div>
<hr>
<br>
{% for post in posts %}
<div class="flex">
  <div class="flex-shrink-0 mr-3">
    <img class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10"
      src="https://images.unsplash.com/photo-1604426633861-11b2faead63c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=80"
      alt="">
  </div>
  <a href="/post/{{post.id}}" class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
    <strong>{{post.author}}</strong> <span class="text-xs text-gray-400">{{post.date}}</span>
    <p class="text-sm">
      {{post.title}}
    </p>
    <div class="mt-4 flex items-center">
      <div class="flex -space-x-2 mr-2">
        <img class="rounded-full w-6 h-6 border border-white"
          src="https://images.unsplash.com/photo-1554151228-14d9def656e4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=100&h=100&q=80"
          alt="">
        <img class="rounded-full w-6 h-6 border border-white"
          src="https://images.unsplash.com/photo-1513956589380-bad6acb9b9d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=100&h=100&q=80"
          alt="">
      </div>
      <div class="text-sm text-gray-500 font-semibold">
        {{post.totalComments}} comments
      </div>
    </div>
  </a>
</div>
<br>
{% endfor %}
</div>

{% endblock %}